section.sec-card-header
    .card-big-img.b-lazy(data-src="img/big-pictyre.png")


section.sec-number
    .container
        .body-number
            .wrapper-info-object
                .item-info-object
                    .item-info-object__header 225 м <sub>2</sub>
                    .item-info-object__bottom Площадь дома
                .item-info-object
                    .item-info-object__header 225 м <sub>2</sub>
                    .item-info-object__bottom Площадь дома

            .body-img-text
                .row-img-text__title Convallis ut adipiscing a
                .row-img-text
                    .row-img-text__img.b-lazy(data-src="img/gl1.png")
                    .row-img-text__text Lobortis sodales risus morbi justo, ipsum. Risus, viverra adipiscing velit tincidunt sollicitudin. Et etiam turpis eros mattis. Tellus interdum mattis non in odio volutpat pellentesque. Ornare id elementum, ultrices amet viverra. Convallis praesent tellus commodo nec at. Ac tincidunt egestas cras vitae feugiat eu quam. Purus nulla lacus lacinia ipsum diam sem diam. Facilisis euismod euismod dolor, ac consectetur tempor ultrices morbi orci. Massa pharetra netus sit aliquet vel. Pellentesque etiam sed duis ultrices aliquet. Quam sed urna rhoncus nunc sollicitudin sodales dui. In ornare sagittis, et, nec commodo et. Id pulvinar tincidunt tristique tristique iaculis ipsum porttitor commodo, sit. Sem tincidunt cursus justo convallis.


section.sec-gallery
    .container
        h2.gallery__title Особенности проекта
        p.gallery__text Metus ornare lacus tellus porttitor in ipsum vitae. Egestas vestibulum suspendisse ut pellentesque. Velit cursus nam convallis amet lacinia id. Ut justo cursus eget dis lacus in a. Nam nunc ut enim nam. Aliquam faucibus est magna purus, pellentesque mattis. Commodo eu blandit sit pretium magna pellentesque malesuada pretium hac. Placerat vitae lectus etiam nulla mauris. Pellentesque integer lacinia lectus ut risus nullam ligula ac, odio. Ornare non ac urna phasellus lorem aliquet eget.
        .body-gallery
            .gallery-item.one.b-lazy(data-src="img/gl2.png")
            .gallery-item.two.b-lazy(data-src="img/gl3.png")
            .gallery-item.three.b-lazy(data-src="img/gl4.png")
            .gallery-item.four.b-lazy(data-src="img/gl2.png")
            .gallery-item.five.b-lazy(data-src="img/gl3.png")
            .gallery-item.six.b-lazy(data-src="img/gl4.png")



section.sec-slider
    .container
        h2.gallery__title Особенности проекта
    .body-slider
        .swiper-container.card-container
            .swiper-wrapper
                .swiper-slide
                    .card-slide.swiper-lazy(data-background="img/rt1.png")
                        .swiper-lazy-preloader
                    .card-slide__name Освещение
                    .card-slide__manufacturer IKEA и DONOLUX

                .swiper-slide
                    .card-slide.swiper-lazy(data-background="img/rt2.png")
                        .swiper-lazy-preloader
                    .card-slide__name Освещение
                    .card-slide__manufacturer IKEA и DONOLUX
                .swiper-slide
                    .card-slide.swiper-lazy(data-background="img/rt3.png")
                        .swiper-lazy-preloader
                    .card-slide__name Освещение
                    .card-slide__manufacturer IKEA и DONOLUX
                .swiper-slide
                    .card-slide.swiper-lazy(data-background="img/rt1.png")
                        .swiper-lazy-preloader
                    .card-slide__name Освещение
                    .card-slide__manufacturer IKEA и DONOLUX

                .swiper-slide
                    .card-slide.swiper-lazy(data-background="img/rt2.png")
                        .swiper-lazy-preloader
                    .card-slide__name Освещение
                    .card-slide__manufacturer IKEA и DONOLUX

    .container
        p.bottom-text-slider Lobortis sodales risus morbi justo, ipsum. Risus, viverra adipiscing velit tincidunt sollicitudin. Et etiam turpis eros mattis. Tellus interdum mattis non in odio volutpat pellentesque. Ornare id elementum, ultrices amet viverra. Convallis praesent tellus commodo nec at. Ac tincidunt egestas cras vitae feugiat eu quam. Purus nulla lacus lacinia ipsum diam sem diam. Facilisis euismod euismod dolor, ac consectetur tempor ultrices morbi orci. Massa pharetra netus sit aliquet vel. Pellentesque etiam sed duis ultrices aliquet. Quam sed urna rhoncus nunc sollicitudin sodales dui. In ornare sagittis, et, nec commodo et. Id pulvinar tincidunt tristique tristique iaculis ipsum porttitor commodo, sit. Sem tincidunt cursus justo convallis.






