section.sec-brends
    .container
        .brends__title.title-block  Бренды, с которми мы сотрудничаем
        .brends__text Commodo ut voluptate quis magna excepteur. Nostrud anim cupidatat ullamco ipsum velit aliquip adipisicing aliqua laborum laboris anim nulla. Ad non ullamco officia Lorem amet consequat exercitation.
        .body-brends
            .row
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-1.svg" data-src-small="img/ic/br-1.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-2.svg" data-src-small="img/ic/br-2.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-3.svg" data-src-small="img/ic/br-3.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-4.svg" data-src-small="img/ic/br-4.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-5.svg" data-src-small="img/ic/br-5.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-2.svg" data-src-small="img/ic/br-2.svg" alt="")
                .col-6.col-md-6.col-lg-3.brend-img
                    .item-el
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/br-3.svg" data-src-small="img/ic/br-3.svg" alt="")
                .col-12.col-md-6.col-lg-3.brend-img
                    .item-el
                        .brend__btn.button_blue НАЗНАЧИТЬ ВСТРЕЧУ и получить подарки
