section.sec-img-duo
    .container
        .img-duo__title.title-block Как выглядит готовая спецификация
    .container.max
        .body-img-duo
            .img-one
                img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/big3.png" data-src-small="img/big3.png" alt="")

