section.sec-reviews
    .container
        .reviews__title.title-block Отзывы
        .body-reviews
            .swiper-container.reviews-container
                .swiper-wrapper.reviews-wrapper
                    .swiper-slide.reviews-slide
                        .block-l
                            .picture(style="background-image: url(img/gl3.png);")
                        .block-r
                            .heder-text
                                p Задача: капитальный ремонт дачного коттеджа
                                p Начальная стоимость ремонта с мебелью = 2 556 000 руб. <br>
                                    | Стоимость с Brick to brick = 2 102 000 руб.
                                h2 Экономия 454 000 рублей или 18%
                            .bottom-text
                                .face
                                    img(src="img/face.png")
                                .face-text
                                    p "Хотел купить, как всегда, все в разных магазинах, в которых всегда покупал, но наткнулся на ваш сервис и решил попробовать - в итоге, я в шоке! Где вы были раньше?
                                        |  Я сэкономил почти полмиллиона рублей! Все прошло быстро
                                        | и без брака."
                                    h3 Мартемьянов Степан
                                    p г. Казань, event-менеджер
                    .swiper-slide.reviews-slide
                        .block-l
                            .picture(style="background-image: url(img/gl3.png);")
                        .block-r
                            .heder-text
                                p Задача: капитальный ремонт дачного коттеджа
                                p Начальная стоимость ремонта с мебелью = 2 556 000 руб. <br>
                                    | Стоимость с Brick to brick = 2 102 000 руб.
                                h2 Экономия 454 000 рублей или 18%
                            .bottom-text
                                .face
                                    img(src="img/face.png")
                                .face-text
                                    p "Хотел купить, как всегда, все в разных магазинах, в которых всегда покупал, но наткнулся на ваш сервис и решил попробовать - в итоге, я в шоке! Где вы были раньше?
                                        |  Я сэкономил почти полмиллиона рублей! Все прошло быстро
                                        | и без брака."
                                    h3 Мартемьянов Степан
                                    p г. Казань, event-менеджер
                    .swiper-slide.reviews-slide
                        .block-l
                            .picture(style="background-image: url(img/gl3.png);")
                        .block-r
                            .heder-text
                                p Задача: капитальный ремонт дачного коттеджа
                                p Начальная стоимость ремонта с мебелью = 2 556 000 руб. <br>
                                    | Стоимость с Brick to brick = 2 102 000 руб.
                                h2 Экономия 454 000 рублей или 18%
                            .bottom-text
                                .face
                                    img(src="img/face.png")
                                .face-text
                                    p "Хотел купить, как всегда, все в разных магазинах, в которых всегда покупал, но наткнулся на ваш сервис и решил попробовать - в итоге, я в шоке! Где вы были раньше?
                                        |  Я сэкономил почти полмиллиона рублей! Все прошло быстро
                                        | и без брака."
                                    h3 Мартемьянов Степан
                                    p г. Казань, event-менеджер
                    .swiper-slide.reviews-slide
                        .block-l
                            .picture(style="background-image: url(img/gl3.png);")
                        .block-r
                            .heder-text
                                p Задача: капитальный ремонт дачного коттеджа
                                p Начальная стоимость ремонта с мебелью = 2 556 000 руб. <br>
                                    | Стоимость с Brick to brick = 2 102 000 руб.
                                h2 Экономия 454 000 рублей или 18%
                            .bottom-text
                                .face
                                    img(src="img/face.png")
                                .face-text
                                    p "Хотел купить, как всегда, все в разных магазинах, в которых всегда покупал, но наткнулся на ваш сервис и решил попробовать - в итоге, я в шоке! Где вы были раньше?
                                        |  Я сэкономил почти полмиллиона рублей! Все прошло быстро
                                        | и без брака."
                                    h3 Мартемьянов Степан
                                    p г. Казань, event-менеджер
                .nav-reviews
                    .nav-reviews-button-prev.arrov-c
                        img(src="img/ic/pp.svg")
                    .nav-reviews-button-next.arrov-c
                        img(src="img/ic/nn.svg")
