section.sec-slider-catalog
    .container
        .title-slider-catalog.title-block  Более 1 000 000 товаров в каталоге
        .slider-catalog__text Мы сотрудничаем с известными фабриками со всего мира - Италия, Америка, Китай, Гонконг, Австралия - вот неполная география наших прямых контрактов, многие из которых являются эксклюзивными на территории России.
    .body-slider-catalog
        .swiper-container.catalog-container
            .swiper-wrapper.catalog-wrapper
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
                .swiper-slide.catalog-slide
                    img.swiper-lazy( data-src="img/gl3.png")
    .container
        .slider-catalog__btn.button_blue Запросить больше фотографий