<section class="sec-process-work">
     <div class="container">
        .step__title.title-block Как мы работаем
         <ul class="list-process-work">
             <li class="list-row">
                 <div class="list-img ">
                     <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="data-src="img/ic/st-1.svg" data-src-small="img/st-1.svg" alt="">
                 </div>
                 <div class="list-text">
                     <div class="list-text_title">Связываемся с вами</div>
                     <div class="list-text_description">Вы оставляете заявку и в течение 10 минут с вамисвязывается наш менеджер
                     </div>
                 </div>
             </li>
             <li class="list-row list-row-revers">
                 <div class="list-img ">
                     <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="data-src="img/ic/st-2.svg" data-src-small="img/ic/st-2.svg" alt="">
                 </div>
                 <div class="list-text">
                     <div class="list-text_title">Связываемся с вами</div>
                     <div class="list-text_description">Вы оставляете заявку и в течение 10 минут с вамисвязывается наш менеджер
                     </div>
                 </div>
             </li>
             <li class="list-row">
                 <div class="list-img ">
                     <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="data-src="img/ic/st-3.svg" data-src-small="img/ic/st-3.svg" alt="">
                 </div>
                 <div class="list-text">
                     <div class="list-text_title">Связываемся с вами</div>
                     <div class="list-text_description">Вы оставляете заявку и в течение 10 минут с вами связывается наш менеджер
                     </div>
                 </div>
             </li>
             <li class="list-row list-row-revers">
                 <div class="list-img ">
                     <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="data-src="img/ic/st-4.svg" data-src-small="img/ic/st-4.svg" alt="">
                 </div>
                 <div class="list-text">
                     <div class="list-text_title">Связываемся с вами</div>
                     <div class="list-text_description">Вы оставляете заявку и в течение 10 минут с вамисвязывается наш менеджер
                     </div>
                 </div>
             </li>
             <li class="list-row">
                 <div class="list-img ">
                     <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="data-src="img/ic/st-5.svg" data-src-small="img/ic/st-5.svg" alt="">
                 </div>
                 <div class="list-text">
                     <div class="list-text_title">Связываемся с вами</div>
                     <div class="list-text_description">Вы оставляете заявку и в течение 10 минут с вамисвязывается наш менеджер
                     </div>
                 </div>
             </li>
         </ul>
        .descr-step За всё время работы с вами, мы держим в курсе сроков производства, доставки и самых важных нюансов. Если вам немного страшно - после подписания договора станет не страшно
     </div>
</section>