section.sec-text-ic-long
    .container
        h2.text-ic-long__title.title-block Наши преимущества
        p.text-ic-long__description Мы создаем уникальные и удобные для жизни интерьеры. Соблюдаем сроки и стоимость по договору и контролируем качество на всех этапах. Мы даем гарантии, что реальный интерьер будет соответствовать дизайн-проекту.

        .body-text-ic-long
            .item__ic-text
                .ic-text__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/best-price.svg" data-src-small="img/ic/best-price.svg")
                .ic-text__descriipt
                    p.descriipt-p Duis esse amet nulla ex anim dolor eiusmod irure veniam ea officia. Do culpa non officia duis labore.
            .item__ic-text
                .ic-text__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/designer.svg" data-src-small="img/ic/designer.svg")
                .ic-text__descriipt
                    p.descriipt-p Duis esse amet nulla ex anim dolor eiusmod irure veniam ea officia. Do culpa non officia duis labore.
            .item__ic-text
                .ic-text__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/control-system.svg" data-src-small="img/ic/control-system.svg")
                .ic-text__descriipt
                    p.descriipt-p Duis esse amet nulla ex anim dolor eiusmod irure veniam ea officia. Do culpa non officia duis labore.
            .item__ic-text
                .ic-text__img
                    img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/business-and-finance.svg" data-src-small="img/ic/business-and-finance.svg")
                .ic-text__descriipt
                    p.descriipt-p Duis esse amet nulla ex anim dolor eiusmod irure veniam ea officia. Do culpa non officia duis labore.

