section.sec-text-ic
    .container
        .body-text-ic
            .wrapper-left
                .descriptin Рассчитайте, сколько будет стоить разработка дизайн-проекта, ответив всего на 4 вопроса, и получите персональные условия.
                .text-ic__btn.button_blue Расчитать стоимость дизайна
            .wrapper-right
                .item__ic-text
                    .ic-text__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/rocket.svg" data-src-small="img/ic/rocket.svg")
                    .ic-text__descriipt
                        h3.descriipt-title Своя команда мастеров
                        p.descriipt-p Мы сотрудничаем только с профессионалами в своей области, в результате работы которых уверены.

                .item__ic-text
                    .ic-text__img
                        img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ic/star.svg" data-src-small="img/ic/star.svg")
                    .ic-text__descriipt
                        h3.descriipt-title Своя команда мастеров
                        p.descriipt-p Мы сотрудничаем только с профессионалами в своей области, в результате работы которых уверены.


                .text-ic__btn.button_blue Расчитать стоимость дизайна