section.sec-about-us
    .container
        .body-about-us
            ul.nav#myTab(role="tablist")

                li.nav-item
                    a.link-tababout-us.active#home-tab( data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") Гарантия

                li.nav-item
                    a.link-tababout-us#profile-tab(data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") Доставка

                li.nav-item
                    a.link-tababout-us#contact-tab(data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false") Как оплатить


            .tab-content#myTabContent

                .tab-pane.fade.show.active#home( role="tabpanel" aria-labelledby="home-tab" )
                    .body-contant-about-us
                        .descript
                            h2  Convallis ut adipiscing a
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                        .img-about-us(style="background-image: url(img/on2.png);")


                .tab-pane.fade#profile( role="tabpanel" aria-labelledby="profile-tab" )
                    .body-contant-about-us
                        .descript
                            h2  2Convallis ut adipiscing a
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                        .img-about-us(style="background-image: url(img/on1.png);")

                .tab-pane.fade#contact( role="tabpanel" aria-labelledby="contact-tab" )
                    .body-contant-about-us
                        .descript
                            h2  3Convallis ut adipiscing a
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                        .img-about-us(style="background-image: url(img/gl4.png);")


section.sec-about-us-form
    .container
        .title-about-us.title-block Остались вопросы?
        .textuiui Оставьте заявку и получите статью "Как проконтролировать строительную бригаду и не потерять деньги"
        form.form-about-us
            input(placeholder="Ваше имя")
            input(placeholder="Ваш телефон")
            .pol Нажав на кнопку, я даю согласие на обработку <a href="#">персональных данных</a>
            .btn-about-us-form.button_blue Отправить

